---
const destination = '/client/jobs';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Redirigiendo...</title>
    <meta http-equiv="refresh" content={`0;url=${destination}`} />
    <link rel="canonical" href={destination} />
  </head>
  <body>
    <p>Redirigiendo a <a href={destination}>trabajos</a>.</p>
  </body>
</html>
